<div class="btns">
  <input type="file" accept="image/*" [multiple]="true" id="file-upload" style="display: none" (change)="setImage($event)">
  <ion-button size="large" class="ion-margin" (click)="takePic()">
    <ion-icon slot="icon-only" name="camera"></ion-icon>
  </ion-button>
  <ion-button size="large" class="ion-margin" (click)="openChartModal()">
    <ion-icon slot="icon-only" name="stats-chart"></ion-icon>
  </ion-button>
</div>

<ion-card style="height: 85%">
  <ion-card-content style="height: 100%">
    <app-pic-list *ngIf="this.pictures.length > 0; else noPics"
      [storageName]="storageName" [pictures]="pictures" [sortFunc]="sortDateDesc"></app-pic-list>
    <ng-template #noPics>
      <ion-text>No hay más imágenes para mostrar.</ion-text>
    </ng-template>
  </ion-card-content>
</ion-card>