.container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  ion-card {
    --background: rgb(250, 235, 215, 0.9);
    
    ion-item,
    ion-input {
      --background: rgb(205, 180, 149);
      font-size: 5vw;
    }
  }
}