<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<div class="container bg-img">
  <ion-card class="ion-padding">
    <img src="../../assets/logo-utn.png">
    <ion-card-content>
      <form #loginForm="ngForm">
        <ion-item>
          <ion-input label="Correo electrónico" [clearInput]="true" labelPlacement="stacked"
            placeholder="tucorreo@ejemplo.com" type="email" errorText="Correo inválido" [(ngModel)]="email" name="email"
            required></ion-input>
        </ion-item>

        <ion-button expand="block" [disabled]="!loginForm.valid" (click)="login()">
          Ingresar
        </ion-button>

        <ion-item>
          <ion-input label="Contraseña" [clearOnEdit]="false" labelPlacement="stacked"
            helperText="Entre 6 y 20 caracteres." type="password" [(ngModel)]="password" name="password" required>
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
      </form>

      <ng-container expand="block" class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <ion-col size="auto">
            <ion-button color="danger" (click)="quickFill('admin@admin.com', '111111')">
              <ion-icon name="home-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="auto">
            <ion-button color="danger" (click)="quickFill('invitado@invitado.com', '222222')">
              <ion-icon name="woman-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="auto">
            <ion-button color="danger" (click)="quickFill('usuario@usuario.com', '333333')">
              <ion-icon name="accessibility-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="auto">
            <ion-button color="danger" (click)="quickFill('anonimo@anonimo.com', '444444')">
              <ion-icon name="man-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="auto">
            <ion-button color="danger" (click)="quickFill('tester@tester.com', '555555')">
              <ion-icon name="bug-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ng-container>

      <div class="ion-margin-top">
        <ion-text color="medium">No está registrado? <a (click)="navCtrl.navigateForward('/signup')">Crear cuenta</a></ion-text>
      </div>
    </ion-card-content>
  </ion-card>
</div>