<audio hidden src="../../assets/sounds/whoosh.mp3" autoplay preload="metadata" type="audio/mpeg"></audio>
<ion-content [fullscreen]="true">
  <ion-grid class="container">
    <ion-row style="align-content: end;">
      <ion-title id="name" style="font-size: 36px;">Laporte Marcos</ion-title>
    </ion-row>
    <ion-row style="align-content: center;">
      <img type="image/png" src="../../assets/icon.png">
    </ion-row>
    <ion-row style="align-content: start;">
      <ion-title id="group" style="font-size: 28px;">4°A</ion-title>
    </ion-row>
  </ion-grid>
</ion-content>