.container {
  height: calc(100% - 56px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .img-container {
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      max-height: 540px;
    }
  }
}