<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Relevamiento visual</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="userInSession; else noUser">
    <ion-fab slot="fixed" vertical="top" horizontal="end">
      <ion-fab-button shape="round" (click)="signOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <div class="options">
      <ion-button fill="outline" (click)="navCtrl.navigateBack('/pics/nice')">
        <div class="button-content">
          <img src="../../assets/star-struck.png" alt="Star Struck">
          <span>COSAS LINDAS</span>
        </div>
      </ion-button>
      <ion-button fill="outline" (click)="navCtrl.navigateBack('/pics/ugly')">
        <div class="button-content">
          <img src="../../assets/nauseated-face.png" alt="Nauseated Face">
          <span>COSAS FEAS</span>
        </div>
      </ion-button>
    </div>
  </ng-container>
  <ng-template #noUser>
    <ion-grid style="height: -webkit-fill-available">
      <ion-row style="height: 30%;">
        <img src="../../assets/shapes.svg" width="100%">
      </ion-row>
      <ion-row style="height: 40%;" class="ion-justify-content-center">
        <ion-card style="align-content: center;" class="ion-padding ion-no-margin">
          <ion-card-title>Inicie sesión!</ion-card-title>
          <ion-card-content>Para acceder a los contenidos, ingrese con su cuenta.</ion-card-content>
          <ion-button expand="block" (click)="navCtrl.navigateBack('/login')">Ingrese a su cuenta</ion-button>
        </ion-card>
      </ion-row>
      <ion-row style="height: 30%;">
        <img src="../../assets/shapes.svg" width="100%" style="rotate: 180deg;">
      </ion-row>
    </ion-grid>
  </ng-template>

</ion-content>